.load-more-container {
  display: flex;
  justify-content: center; /* Centraliza na página */
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.load-more-button {
  width: 240px;
  height: 48px;
  border: 1px solid #002B53;
  font-size: 14px;
  text-transform: uppercase;
  color: #002B53;
  background: white;
  cursor: pointer;
}

.load-more-button:hover {
  background: #002B53;
  color: white;
}

.show-less {
  margin-left: 10px;
}
