.characterCard {
  width: 100%;
  max-width: 350px;
  background: #F8F8F8;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.characterImage {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.characterInfo {
  padding: 10px;
  text-align: left;
}