.charactersGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  width: 100%;
  max-width: 1820px;
  min-height: 500px;
  align-items: flex-start;
  padding: 16px;
}

@media (max-width: 1024px) {
  .charactersGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .charactersGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .charactersGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .removeAllButton {
    display: none;
  }
}

