.characterCard {
  width: 100%;
  max-width: 330px;
  background: #F8F8F8;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.characterImage {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.characterInfo {
  padding: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.characterName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.characterPlanet {
  font-size: 13px;
  margin-bottom: 8px;
}

.characterAttributes {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 10px;
  color: #797878
}
