.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
  max-width: 1820px;
}

.headerTitle {
  font-size: 28px;
  font-weight: 300;
  line-height: 58px;
  color: #333333;
}

.headerDescription {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #666666;
  max-width: 900px;
  padding-bottom: 32px;
}
