/*.loadMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 20px;
}

.loadMoreButton,
.showLessButton {
  width: 200px;
  height: 42px;
  border: 1px solid #002B53;
  font-size: 14px;
  text-transform: uppercase;
  color: #002B53;
  background: white;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.loadMoreButton:hover,
.showLessButton:hover {
  background: #002B53;
  color: white;
}

@media (max-width: 768px) {
  .loadMoreButton,
  .showLessButton {
    width: 100%;
  }
}
 Estilização base para todos os botões */