.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Fundo escuro para o efeito de blur */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px); /* Efeito de desfoque */
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modalImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

.characterDetails {
  margin-top: 15px;
}

.characterDetails h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.characterDetails p {
  font-size: 16px;
  margin: 5px 0;
}
