.navbar {
  width: 100%; /* Garante que não ultrapasse a largura da tela */
  max-width: 1820px; /* Limita o tamanho máximo */
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Espaço entre filtro e botão */
  padding: 20px 50px; /* Ajuste para não colar nas bordas */
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  overflow: hidden; /* Impede rolagem lateral */
  box-sizing: border-box;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.filter-label {
  font-size: 16px;
  color: #666666;
}

.filter-dropdown {
  width: 190px;
  min-width: 190px;
  max-width: 239.5px;
  height: 26px;
  border-bottom: 1px solid #C8C8C8;
  font-size: 16px;
  color: #002B56;
  background: white;
  cursor: pointer;
}

.button-clear {
  width: 158px;
  height: 38px;
  border: 1px solid #C8C8C8;
  font-size: 13.3px;
  text-transform: uppercase;
  color: #C8C8C8;
  text-align: center;
  cursor: pointer;
}

.button-clear:hover {
  background: #C8C8C8;
  color: white;
}
