.navbar {
  width: 100%;
  max-width: 1820px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 0;
  padding-left: 0;
  justify-content: flex-start;
}

.filterLabel {
  font-size: 15px;
  color: #666666;
}

.filterDropdown {
  width: 180px;
  height: 24px;
  border-bottom: 1px solid #C8C8C8;
  font-size: 15px;
  color: #002B56;
  background: white;
  cursor: pointer;
}

/* 🎯 Botão "CLEAR ALL" */
.buttonClear {
  width: 150px;
  height: 36px;
  border: 1px solid #C8C8C8;
  font-size: 13px;
  text-transform: uppercase;
  color: #C8C8C8;
  text-align: center;
  cursor: pointer;
}

.buttonClear:hover {
  background: #C8C8C8;
  color: white;
}

@media (max-width: 768px) {
  .buttonClear {
    display: none;
  }
}
